<html lang="zh-CN" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./render/stylesheet/variable.css"/>
    <link rel="stylesheet" href="./render/stylesheet/global.css"/>
    <link rel="stylesheet" href="./render/stylesheet/index.css"/>
    <link rel="stylesheet" href="./assets/stylesheet/bootstrap.min.css"/>
    <link rel="stylesheet" href="./assets/stylesheet/mint-ui.css"/>

</head>
<body>
<div id="app">
    <nav class="nav">
        <div v-if="(devices.length)">
            <h5>找到如下设备</h5>
            <ul>
                <li v-bind:class="{ device: true, selected: index == 0 }" v-for="(device, index) in devices" :data-device="device.id" @click="switchDevice">{{ device.brand + ' ' + device.name }}</li>
            </ul>
        </div>
        <div v-else>
            <h5>没有找到设备, 请检查手机连接</h5>
        </div>
    </nav>
    <div class="content is-shown">
        <div class="toolbar">
            <button class="btn btn-default" @click="capture">截图</button>
            <button class="btn btn-default" @click="downloadLatestApk">安装最新的包</button>
        </div>

        <div id="download-box">
            <span id="download-tip">正在下载APK....</span>
            <mt-progress id="download-progress" :value="downloadProgress" :bar-height="10"></mt-progress>
        </div>

        <div v-if="screencap">
            <img id="screencap" v-on:contextmenu="aboutScreenCap" :src="screencap"/>
        </div>
    </div>
</div>
<script>
    if (process.env.NODE_ENV !== 'production') {
        require('electron-connect').client.create()
    }
</script>
<script type="text/javascript">
    require('coffee-script').register();
    require("./render/scripts/index");
</script>
</body>
</html>