html {
    height: 100%;
    -webkit-user-select: none;
}

body {
    margin: 0 auto;
    font-size: 62.5%;
}

.title-bar {
    height: 30px;
    line-height: 30px;
    color: #999;
    font-size: 14px;
    color: #2e2e2e;
    -webkit-app-region: drag;
    border-bottom: 1px solid #eee;
}

#app {
    display: flex;
    height: 100%;
}

/* nav */

h5 {
    margin: .2em 0;
    padding-left: 2rem;
    font-size: .8rem;
}

.nav {
    padding-top: 25px;
    width: 250px;
    color: var(--color-subtle);
    background-color: #262626;
    -webkit-app-region: drag;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.device {
    padding: .3rem;
    padding-left: calc(2rem + 16px + .5rem);
    color: grey;
    cursor: pointer;
    font-size: 1rem;
}

.device:hover, .device:not(.selected) {
    background-color: hsla(0,0%,0%,.1);
}

.device.selected {
    background-color: var(--color-accent);
    color: white;
}

/* end of nav */

#screencap {
    max-width: 450px;
    max-height: 450px;
    margin-top: 10px;
    border: 5px dashed grey;
    border-radius: 5px;
}

.content {
    text-align: center;
}

button {
    cursor:pointer;
}

.content-container {
    padding: 1rem;
}



#download-box {
    display: none;
}