
html {
    box-sizing: border-box;
    height: 100%;
}

body {
    padding: 10px;
}

.form {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
}

.field {
    margin: 5px auto;
}

input[type="text"] {
    outline: none;
    padding: 0 15px;
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid grey;
}